<h1>Blog Posts</h1>
<% @posts.each do |post| %>
<div id="post">
  <h3 class="post-title"><%= link_to post.title, post %></h3>
  <h5 class="post-catgeory"><%= link_to post.category.name, post.category%></h5>
  <p class="post-body"><%= post.body %></p>
</div>
<% end %>
<%= link_to "Add New Post", new_post_path %>
